<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-brand">
            {{ title }}
        </div>
        <ul class="nav navbar-nav pull-right">
            <li><a href="/index">Home</a></li>
            <li><a href="/tickets">Booked Tickets</a></li>
            <li><a href="/tickets/add">Reserve Ticket</a></li>
        </ul>
    </div>
</nav>
