<!DOCTYPE HTML>

<html>

<head>
    {{> head }}
</head>

<body class="fullbleed layout vertical">
    <paper-header-panel class="flex">
        {{> header }}
        <div class="container">
            {{{ body }}}
        </div>
    </paper-header-panel>
    {{> scripts }}
</body>

</html>
