<h3>Amazing Index Page!</h3>

<ul class="list-group">
    <li class="list-group-item">
        <a href="/tickets">Show list of booked tickets</a>
    </li>
    <li class="list-group-item">
        <a href="/tickets/add">Book new ticket...</a>
    </li>
</ul>
